# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Local cache
.cache/

# VSCode / IDE
.vscode/
.idea/

